/*************
	Variables
*/
/***************
	Main Styles
*/
html,
body,
.background-table {
  background-color: #eeeeee;
}

.background-table {
  color: #333333;
  font-family: Helvetica, Arial, sans-serif;
}

.main-content {
  background-color: white;
}

.paragraph, img {
  color: #666666;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}

a {
  color: #008374;
  text-decoration: underline;
}

/***********************
	Inline Reset
	------------
	
	All of the below 
	CSS will be added 
	to inline to every 
	element / class

*/
img {
  display: block;
  margin: 0;
}

.button {
  background-color: #008374;
  border-radius: 4px;
  border: 13px solid #008374;
  color: white;
  display: inline-block;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 0 10px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 0 #008172;
  -webkit-text-size-adjust: none;
}
