
/*************
	Variables
*/


// Colours 

$green: #008374;
$grey: #666666;
$dark-grey: #333333;
$light-grey: #eeeeee;
$white: #ffffff;

$paragraph-color: $grey;
$base-color: $green;
$link-color: $green;


// Typography

// N.B - If possible avoid using quotes and 
// apostrophes when defining a font stack. 
// This can break in Outlook 2010 resulting 
// in the type being set in Times New Roman

$helvetica: Helvetica, Arial, sans-serif;

$base-font: $helvetica;
$paragraph-font: $helvetica;
$heading-font: $helvetica;

$base-font-size: 16px;